# MAP - FILTRE - REDUCE

In [1]:
# IMPORTA OS MÓDULOS

from functools import reduce

import random as rd
import numpy as np

In [2]:
# SORTEIAR UM NÚMERO

rd.sample([1, 2, 3, 4], 1)

[1]

In [3]:
# CRIAR UMA TABELA COM VALORES ALEATÓRIOS

tabela = []

for _ in range(20):
    linha = {'sexo': rd.sample(['m', 'f'], 1)[0], 
             'idade': rd.sample(list(range(18,70)), 1)[0],
             'estado_civil': rd.sample(['solteiro', 'casado', 'viúvo'], 1)[0],
             'salario': rd.sample(list(range(10**3, 10**4, 10**3)), 1)[0]}
    tabela.append(linha)
    
print(tabela[0])
print()
print(tabela)

{'sexo': 'm', 'idade': 65, 'estado_civil': 'casado', 'salario': 9000}

[{'sexo': 'm', 'idade': 65, 'estado_civil': 'casado', 'salario': 9000}, {'sexo': 'm', 'idade': 49, 'estado_civil': 'casado', 'salario': 6000}, {'sexo': 'm', 'idade': 55, 'estado_civil': 'viúvo', 'salario': 6000}, {'sexo': 'm', 'idade': 22, 'estado_civil': 'solteiro', 'salario': 2000}, {'sexo': 'm', 'idade': 22, 'estado_civil': 'casado', 'salario': 8000}, {'sexo': 'f', 'idade': 68, 'estado_civil': 'casado', 'salario': 6000}, {'sexo': 'f', 'idade': 69, 'estado_civil': 'casado', 'salario': 9000}, {'sexo': 'f', 'idade': 58, 'estado_civil': 'solteiro', 'salario': 9000}, {'sexo': 'm', 'idade': 62, 'estado_civil': 'solteiro', 'salario': 1000}, {'sexo': 'f', 'idade': 26, 'estado_civil': 'viúvo', 'salario': 3000}, {'sexo': 'f', 'idade': 50, 'estado_civil': 'casado', 'salario': 4000}, {'sexo': 'm', 'idade': 18, 'estado_civil': 'casado', 'salario': 1000}, {'sexo': 'm', 'idade': 54, 'estado_civil': 'solteiro', 'salario': 8000}, {'sexo': 'f', 'idade': 68, 'estado_civil': 'solteiro', 'salario': 8000}, {'sexo': 'f', 'idade': 29, 'estado_civil': 'casado', 'salario': 1000}, {'sexo': 'f', 'idade': 43, 'estado_civil': 'solteiro', 'salario': 8000}, {'sexo': 'm', 'idade': 21, 'estado_civil': 'viúvo', 'salario': 4000}, {'sexo': 'f', 'idade': 69, 'estado_civil': 'viúvo', 'salario': 4000}, {'sexo': 'f', 'idade': 24, 'estado_civil': 'viúvo', 'salario': 2000}, {'sexo': 'f', 'idade': 27, 'estado_civil': 'viúvo', 'salario': 9000}]

# MAP

In [4]:
# USANDO A FUNÇÃO MAP

valores_idade = map(lambda m: m['idade'], tabela)

# RETORNA UM ITERATOR

valores_idade

In [5]:
# ACESSANDO OS ITERATOR

for _ in range(5):
    print(next(valores_idade))

65
49
55
22
22

In [6]:
# TRANSFORMANDO OS ITERATOR

print(list(valores_idade))

[68, 69, 58, 62, 26, 50, 18, 54, 68, 29, 43, 21, 69, 24, 27]

In [7]:
# ITERATOR LIBERADOS

print(list(valores_idade))

[]

In [8]:
# USAR MAP PARA CALCULAR A MÉDIA

lista_idade = list(map(lambda m: m['idade'], tabela))
np.mean(lista_idade)

44.95

# FILTER

In [9]:
# USANDO FIILTER

list(filter(lambda m: m['sexo'] == 'm', tabela))

[{'sexo': 'm', 'idade': 65, 'estado_civil': 'casado', 'salario': 9000},
 {'sexo': 'm', 'idade': 49, 'estado_civil': 'casado', 'salario': 6000},
 {'sexo': 'm', 'idade': 55, 'estado_civil': 'viúvo', 'salario': 6000},
 {'sexo': 'm', 'idade': 22, 'estado_civil': 'solteiro', 'salario': 2000},
 {'sexo': 'm', 'idade': 22, 'estado_civil': 'casado', 'salario': 8000},
 {'sexo': 'm', 'idade': 62, 'estado_civil': 'solteiro', 'salario': 1000},
 {'sexo': 'm', 'idade': 18, 'estado_civil': 'casado', 'salario': 1000},
 {'sexo': 'm', 'idade': 54, 'estado_civil': 'solteiro', 'salario': 8000},
 {'sexo': 'm', 'idade': 21, 'estado_civil': 'viúvo', 'salario': 4000}]

In [10]:
# USANDO O FILTER

list(filter(lambda m: m['idade'] < 20, tabela))

[{'sexo': 'm', 'idade': 18, 'estado_civil': 'casado', 'salario': 1000}]

In [11]:
# USANDO O FILTER

list(filter(lambda m: m['idade'] > 20 and m['estado_civil'] == 'casado', tabela))

[{'sexo': 'm', 'idade': 65, 'estado_civil': 'casado', 'salario': 9000},
 {'sexo': 'm', 'idade': 49, 'estado_civil': 'casado', 'salario': 6000},
 {'sexo': 'm', 'idade': 22, 'estado_civil': 'casado', 'salario': 8000},
 {'sexo': 'f', 'idade': 68, 'estado_civil': 'casado', 'salario': 6000},
 {'sexo': 'f', 'idade': 69, 'estado_civil': 'casado', 'salario': 9000},
 {'sexo': 'f', 'idade': 50, 'estado_civil': 'casado', 'salario': 4000},
 {'sexo': 'f', 'idade': 29, 'estado_civil': 'casado', 'salario': 1000}]

In [12]:
# USANDO O FILTER COM MAP

list(
    map(lambda n: n['salario'],
    filter(lambda m: m['idade'] > 20 and m['estado_civil'] == 'casado', tabela)
        )
)

[9000, 6000, 8000, 6000, 9000, 4000, 1000]

In [13]:
# USANDO O FILTER COM MAP PARA CALCULAR A MÉDIA

np.mean(
    list(
    map(lambda n: n['salario'],
    filter(lambda m: m['idade'] > 20 and m['estado_civil'] == 'casado', tabela)
        )
    )
)

6142.857142857143

# REDUCE

In [14]:
# USANDO O REDUCE PARA SOMAR

reduce(lambda soma, t: soma + t['salario'], tabela, 0)

108000

In [15]:
# USANDO O MAP PARA SOMAR O TOTAL

np.sum(list(map(lambda v: v['salario'], tabela)))

108000

In [16]:
# USANDO O REDUCE PARA CALCULAR A MÉDIA

reduce(lambda soma, t: soma + t['salario'] / len(tabela), tabela, 0)

5400.0

In [17]:
# USANDO O MAP PARA CALCULAR A MÉIA

np.mean(list(map(lambda v: v['salario'], tabela)))

5400.0

In [18]:
# REDUCE COM FILTER

reduce(lambda soma, tabela:
      soma + tabela['salario'],
      filter(lambda m: m['idade'] > 20 and m['estado_civil'] == 'casado', tabela),
      0)

43000

In [19]:
# USANDO O FILTER COM MAP PARA CALCULAR A MÉDIA

np.sum(
    list(
    map(lambda n: n['salario'],
    filter(lambda m: m['idade'] > 20 and m['estado_civil'] == 'casado', tabela)
        )
    )
)

43000