In [1]:
from sklearn.impute import SimpleImputer

from sklearn.compose import ColumnTransformer

from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline

from sklearn.cluster import KMeans

import pandas as pd
import numpy as np
import random as rd

In [2]:
# Versões dos módulos

!python --version
%reload_ext watermark
%watermark --iversions

Python 3.9.7
numpy : 1.20.3
pandas: 1.3.4

In [3]:
tamanho = 20
rd.seed = 42

sx = [rd.sample(['F', 'M'], 1)[0] for _ in range(tamanho)]
idade = [rd.sample(list(range(18, 75)), 1)[0] for _ in range(tamanho)]
classe = [rd.sample(['A', 'B', 'C'], 1)[0] for _ in range(tamanho)]

dic = {'sexo': sx, 'idade': idade, 'classe': classe}

dados = pd.DataFrame(dic)
dados.sample(5)

   sexo  idade classe
10    F     61      B
18    F     65      C
15    F     43      B
9     F     64      A
3     F     66      C

In [4]:
for linha in rd.sample(list(dados.index), 10):
  coluna = rd.sample([0, 1, 2], 1)[0]
  dados.iloc[linha, coluna] = np.NaN

dados

   sexo  idade classe
0     M   19.0      B
1   NaN   67.0      C
2   NaN   59.0      C
3   NaN   66.0      C
4     M   58.0      C
5     M   67.0      C
6     M    NaN      A
7     F   28.0      A
8     F   25.0      A
9     F   64.0    NaN
10    F   61.0    NaN
11    F   66.0      C
12    F    NaN      A
13  NaN   31.0      A
14    M   21.0      C
15    F   43.0    NaN
16    M   29.0      A
17    M   28.0      C
18    F   65.0      C
19  NaN   43.0      B

https://github.com/yukioandre/youtube/blob/master/pipeline_tutorial.ipynb

In [5]:
cl_categoria = ['sexo', 'classe']
cl_numerico = ['idade']

In [6]:
missing = ColumnTransformer(transformers=([('Completar Missing texto', SimpleImputer(missing_values=np.NaN, strategy='most_frequent') , cl_categoria), 
                                           ('Completar Missing número', SimpleImputer(missing_values=np.NaN, strategy='median') , cl_numerico)]))

In [7]:
codificar = ColumnTransformer(transformers=([('Transformar sexo e classe', OneHotEncoder(), cl_categoria),
                                             ('Transfomar número', StandardScaler(), cl_numerico)]))

In [8]:
pipe = Pipeline(steps=[('MISSING', missing),
                       ('CODIFICAR', codificar)])

In [9]:
pipe.fit_transform(dados)

ValueError: Specifying the columns using strings is only supported for pandas DataFrames

In [ ]:
ddn = pd.DataFrame(missing.fit_transform(dados), columns= ['sexo', 'classe', 'idade'])
ddn = pd.DataFrame(codificar.fit_transform(ddn) , columns= codificar.get_feature_names_out())
ddn.head()

In [ ]:
knn.fit(ddn)
knn.labels_